body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.Layout{
  display: flex;
}
.layoutChildren{
  margin-left: 2vw;
}
.NavBar{
  width:88vw;
}
.LoginMain p{
  position: relative;
  bottom:4vh;
  left:4vw;
}
.innerform div form{
  position:relative;
  right:2vw ;
}
.LoginMain{
  background-image: url('./Images//snapedit_1689766533507.jpeg') ;
  background-size: cover;
  height: 100vh;
}

.login{
  position: absolute;
 
  top:20%;
  left: 35%;
  width: 20%;
  
}
.innerform div{
  position: relative;
  left: 50px;
}
.innerform div{
  position: relative;
  left: 20px;
}
.innerform button{
  position: relative;
  left: 40px;
}
.innerform form img{
  width: 200px;
  position: relative;
  left: 50px;
}

.logo{
  position: relative;
  left:25px;
  bottom: 20px;
}
.login form {
padding: 50px;

}
.login button{
margin-top: 4%;
}
.EmployeeHireGeneral{
  width: 90vw;
  height: 100vh;
  position: absolute;
  top: 7vh;
  right: 0.5vw;
  background-image: url('./Images/13900618_5291450.jpg');
  background-size: cover;
}
.EmployeeHire{
  position: absolute;
  left: 2vw;
  top: 5vh;
  
  background-position: 500px 20px;

  
}
.EmployeeHire form input{
  margin-top: 20px;
}
.sidebarLink{
  margin-top: 30vh;
}
.sidebarLink a{
  margin-top: 20px;
}
.EmployeeHireField  *
{
display: flex;
display: inline-block
}
.EmployeeHire{
  position: relative;
  right: 20vw;
}
.EmployeeHireField * *{
  margin: 20px;
  margin-right: 100px;
}

.EmployeeHire div{
  padding: 5px;
  
}
.EmployeeHire h5{
  position: relative;
  top:30px;
  left: 40px;
}
/*reset password*/
.ResetPassword{
  margin-top: 8vh;
  position: absolute;
  left: 15vw;
  top: 5vh;
  
  background-position: 500px 20px;
 height: 50vh;
 width: 30vw;

 position: relative;
 left: 30vw;
 
  
}
.ResetPassword form{
  position: relative;
  left:10em;
  margin-top: 10vh;

}
.ResetPassword form button{
  margin-top: 2vh;
  width: 12vw;
}
.ResetPassword h5{
  position: relative;
  left: 8vw;
  top:10vh ;
  
}
.checkEmail{
  background-image: url('./Images//snapedit_1689766533507.jpeg') ;
  background-size: cover;
  height: 100vh;
}
.checkEmail h5{
position: relative;
top: 30vh;
left: 35%;

}
.HomePage p{
margin: 50 em;
}
.TaskList{
  width: 25vw;
  height: 30vh;
}