body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.Layout{
  display: flex;
}
.LoginMain{
  background-image: url('./Images//snapedit_1689766533507.jpeg') ;
  background-size: cover;
  height: 763px;
}

.login{
  position: absolute;
 
  top:20%;
  left: 35%;
  width: 20%;
  
}
.innerform form img{
  width: 200px;
}

.logo{
  position: relative;
  left:25px;
  bottom: 20px;
}
.login form {
padding: 50px;

}
.login button{
margin-top: 4%;
}
.EmployeeHireGeneral{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 50px;
  background-image: url('./Images/13900618_5291450.jpg');
  background-size: cover;
}
.EmployeeHire{
  position: absolute;
  left: 15vw;
  top: 5vh;
  
  background-position: 500px 20px;

  
}
.EmployeeHire form input{
  margin-top: 20px;
}
.sidebarLink{
  margin-top: 30vh;
}
.sidebarLink a{
  margin-top: 20px;
}
.EmployeeHireField  *
{
display: flex;
display: inline-block
}
.EmployeeHireField * *{
  margin: 20px;
  margin-right: 100px;
}

.EmployeeHire div{
  padding: 5px;
}
.EmployeeHire h5{
  position: relative;
  top:30px;
  left: 40px;
}
